<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="rating" content="General">
	<meta name="revisit-after" content="7 days">

	{% if page.keywords %}
		<meta name="keywords" content="{{ page.keywords | escape }}">
	{% endif %}

	{% if page.description %}
		<meta name="description" content="{{ page.description | escape }}">
	{% endif %}

	<title>{{ page.title }}</title>

	{% comment %}Default CSS for this layout{% endcomment %}
	{% assign css = "global" | split: "," %}
	{% assign js = "jquery-1.2.6.min" | split: "," %}
	{% include static_assets.html %}

	{% comment %}Custom CSS for a page, if set; should already be an array{% endcomment %}
	{% assign css = page.css %}
	{% assign js = page.js %}
	{% include static_assets.html %}

	<!--[if IE]>
	 <style type="text/css">
	  body {word-wrap: break-word;}
	 </style>
	<![endif]-->
</head>
<body>

<div id="wrap">
	<div id="header">
		<img src="{{ site.baseurl }}/images/lightvc_banner.jpg" width="750" height="120" alt="LightVC Banner" style="display: block" />
	</div>

	<div id="main_nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/docs/">Documentation</a></li>
		</ul>
		<div class="clear"></div>
	</div>

	<div id="content">{{ content }}</div>

	<div id="footer">
		Copyright &copy; 2007-{{ 'now' | date: "%Y" }}, Anthony Bush. LightVC is open source protected by the FreeBSD License.
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{{ site.google_analytics_id }}");
pageTracker._initData();
pageTracker._trackPageview();
$(document).ready(function() {
	$('.track_link').click(function() {
		pageTracker._trackPageview($(this).attr('href'));
		return true;
	});
});
</script>

</body>
</html>
